body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #b1b2bf;
    display: flex;
    background-image: url(./trondheim-2074284_1280.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #e6e6e6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 8px solid rgb(23, 4, 81); 
    border-image:   linear-gradient(to right, grey 25%, rgb(229, 111, 20) 25%, rgb(95, 114, 221) 50%,red 50%, rgb(206, 227, 16) 75%, teal 75%) 5;
 
}

h1 {
    color: #0a145e;
    background-color: #fc9e6c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color:#0a145e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#post-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;

}
.titleh2{
    color: rgb(85, 45, 165);
}
button {
    background-color: #ee8c2f;
    color: #3307d2;
    padding: 10px;
    border-radius: 10px;
    border-width: 5px;
    margin: 10px;
}
button:hover {
    opacity: 0.9;
  }

.comment {
    margin-left: 20px;
    margin-top: 10px;
}

.rating {
    margin-left: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
        }
      }
@media screen and (max-width: 400px) {
    body {
            font-size: 10px;
            }
          }
